body {
    background-image: url("https://wallpaperscraft.com/image/spots_background_light_solid_color_69091_1920x1080.jpg")
}

h3 {
font-family: Arial;
text-align: center;
}

input {
    margin-left: 44%;
}