body {
background-image: url("https://wallpaperscraft.com/image/lines_waves_blue_stripes_69082_1920x1080.jpg")
}

h1 {
text-align: center;
font-family:Verdana;
}

h3 {
    text-align: center;
}

input {
    margin-left: 44%;
}