body {
    background-color: lightblue;
    background-image: url("https://wallpaperscraft.com/image/water_spray_wave_line_background_solid_61935_1920x1080.jpg")
}

h1 {
font-family: Sans serif;
text-align: center;
}