<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Kalkulator</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>


    <h1>Dobrodošli v kalkulatorju</h1>
    <h3></h3>
    <br><br>
    <form method="post" action="/">
        <input name="stevilo1">
        <input name="znak">
        <input name="stevilo2">
        <button type="rezultat">Izračun</button
    </form>

    <ul>
        <li><a href="/skritostevilo">Skrito število</a></li>
        <li><a href="/pretvornikenot">Pretvornik enot</a></li>
    </ul>


</body>
</html>