<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrito število</title>

    <link rel="stylesheet" href="/assets/css/skritostevilo.css">
</head>
<body>

    <h1>Dobrodošli v igri skrito število :)</h1>
    <br><br>
    <h3>Ugani skrito število med 1 in 15</h3>
    <br>

    <form method="post" action="/skritostevilo">
        <input name="skrito">
        <button type="submit">Klikni me!</button>
    </form>

    <br><br><br>
    <ul>
        <li><a href="/">Kalkulator</a></li>
        <li><a href="/pretvornikenot">Pretvornik enot</a></li>
    </ul>


</body>
</html>